/* All Common CSS Strat */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:hover {
  text-decoration: none;
  display: inline-block;
}
ul,
ol {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
.container {
  width: 990px;
  margin: 0 auto;
}
body {
  font-family: "Noto Sans Bengali", sans-serif;
}
/* All Common CSS End */

#topHeader {
  padding: 16px 0;
  background: #008532;
}
.leftText{
    color: white;
}
